.screenshot {
	background-image: url("../img/bl-bg-screenshots.png");
	background-repeat: no-repeat;
	background-position: center 200px;
	@include respond(desktop) {
		min-height: 870px;
	}
	padding: 0;
	padding-bottom: 50px;
	
	@include respond(phone) {
		background-size: 280px 280px;
	}
	
	@include respond(tabdesk) {
		background-size: 500px 500px;
		// padding-top: 50px;
		padding-top: 150px;
		padding-bottom: 150px;
	}
	
	
	.container {
		position: relative;
	}
}

.screenshot__pics {
	@include respond(phone) {
		display: none;
	}
}

.screenshot__pic{
	position: absolute;
	width: 240px;
	height: 240px;
	z-index: 10;
	img {
		max-width: 100%;
		max-height: 100%;
	}
}

.screenshot__pic_1 {
	bottom: -140px;
	left: -40px;
}

.screenshot__pic_2 {
	bottom: -140px;
	right: -40px;
}
.screenshot__pic_4 {
	top: -70px;
	left: -40px;
	@include respond(tablet) {
		display: none;
	}
}
.screenshot__pic_3 {
	top: -70px;
	right: -40px;
	
	@include respond(tablet) {
		display: none;
	}
}
.screenshot__pic_5 {
	// top: -131px;
	// left: 50%;
	// // margin-left: -110px;
	// transform: translateX(-50%);
	display: none;
}




.hashtags {
	margin-bottom: 50px;
}

.hashtags__inner {
	margin: 0 auto;
	
	@include respond(tabdesk) {
		width: 720px;
	}
}

.hashtags__top,
.hashtags__bottom {
	position: relative;
	z-index: 2;
}

.hashtags-top {
	margin-bottom: 30px;
	
	@include respond(tabdesk) {
		display: flex;
		align-items: flex-start;
		justify-content: space-between;
	
	}
}

.hashtags__top-filter {
	display: flex;
	align-items: flex-start;
	
	height: 50px;
	border-radius: 50px;
	// border: 5px solid #ffe900;
	position: relative;
	// padding-right: 50px;
	$border: 5px;
	background-clip: padding-box; /* !importanté */
	border: solid $border transparent; /* !importanté */
	position: relative;
	background-color: #fff;
	// padding-top: 3px;
	// padding-left: 15px;
	&::before {
			content: '';
			position: absolute;
			top: 0; right: 0; bottom: 0; left: 0;
			z-index: -1;
			margin: -$border; /* !importanté */
			border-radius: inherit; /* !importanté */
			background: linear-gradient(to bottom, #ffc700 0%,#ffe900 100%);
	}
	
	&::after {
		content: '';
		width: 40px;
		height: 40px;
		border-radius: 50%;
		// background: linear-gradient(to bottom, #ffc700 0%,#ffe900 100%);
		background-color: #ffc700;
		background-image: url("../img/bl-arrow-down.png");
		background-repeat: no-repeat;
		background-position: center center;
		background-size: 20px 30px;
		position: absolute;
			right: 0;
			top: 0;
	}
	
	@include respond(phone) {
		width: 100%;
		
		&:first-child {
			margin-bottom: 30px;
		}
	}
	
	@include respond(tabdesk) {
		width: 258px;
	}
}

.hashtags__top-filter select {
	-webkit-appearance: none;
	-moz-appearance: none;
	outline: none;
	width: 100%;
	height: 100%;
	// padding: 0 20px;

	background: none;
	border-radius: 50px;
	border: none;
	// border: 1px solid #ccc;

	// font-size: 14px;
	// color: #000;
	padding: 0 20px;
	height: 50px;
	line-height: 50px;
	font-size: 37px;
	font-weight: 200;
	color: #777;
	
	position: relative;
		top: -3px;
}

.hashtags__top-filter select option {
	font-size: 14px;
	color: $text;
}

/* Убираем стандартные стрелочки в IE */
.form__select select::-ms-expand {
    display: none;
}

.form__select select:focus {
    outline: 0;
    // border-color: #2cb0d8;
}

.form__select select:hover {
    cursor: pointer;
}

.hashtags__top-text {
	font-size: 37px;
	font-weight: 200;
	text-align: center;
	flex-grow: 1;
	line-height: 1;
}

.hashtags__top-icon {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background: linear-gradient(to bottom, #ffc700 0%,#ffe900 100%);
	position: absolute;
		right: 0;
		top: 0;
	img {
		position: absolute;
			top: 0;bottom: 0;left: 0;right: 0;margin: auto;
	}
	cursor: pointer;
}

.hashtags__top-filter_search {
	width: 100%;
	
	.hashtags__top-text {
		text-align: right;
		flex-grow: 0;
	}
}

.hashtags__price {
	text-align: center;
	margin-top: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.hashtags__price-title {
	font-size: 37px;
	line-height: 1;
}

.hashtags__price-sum {
	border-radius: 30px;
	background: linear-gradient(to bottom, #ffc700 0%,#ffe900 100%);
	font-size: 41px;
	padding: 0 30px;
	color: #fff;
	line-height: 1;
	padding-top: 5px;
	padding-bottom: 5px;
	margin-top: 10px;
}

.temp-slider-place {
	height: 470px;
	background-color: rgba(green, .1);
}