.container.form {
  margin-top: 30px;
}

.list-group-item.total-price {
  color: #fff;
  background-color: #F44336;
}

#toasty .toast {
  background-color: #1FC36B;
  color: #fff;
  opacity: 1;
}
