<!-- <h1 mat-dialog-title>Hi123</h1>
<div mat-dialog-content>
  <mat-form-field>
    <input matInput [(ngModel)]="data.name" placeholder="Your name">
    <input matInput [(ngModel)]="data.email" placeholder="Your email">
    <input matInput [(ngModel)]="data.telephone" placeholder="Your telephone number">
    <textarea matInput [(ngModel)]="data.comment">Your comment</textarea>
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">No Thanks</button>
  <button mat-button [mat-dialog-close] cdkFocusInitial>Ok</button>

</div> -->
<!-- 
<div role="document" class="modal-dialog">
    <div class="modal-content">
<h2></h2>

  <div class="modal-body">
      <div class="form-group">
          <label for="name">Your name</label>
          <input type="text" class="form-control" name="name" id="" aria-describedby="helpId" placeholder="">
          <small id="helpId" class="form-text text-muted">Help text</small>
          </div>
    </div>

  <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Close</button>
    </div>

</div>
</div> -->
