//@import "@material/image-list/mdc-image-list";
//.my-image-list {
//  @include mdc-image-list-standard-columns(5);
//}
table {
  width: 100%;
}

img {
  .img-fluid {
    height: 350px
  }
}
.product-card {
  margin-bottom: 30px;
  h2 {
    color: red;
  }
}

mat-card-content {
  text-align: center;
}


.mat-card {
  background: #fff;
}

.mat-button {
  color: #000;
}


