
/*****************globals*************/

img {
  max-width: 100%;
  height: auto;
}

button {
  margin-right: 20px;
  margin-top: 40px;
}

span {
  margin-right: 5px;
}

.price {
  background-image: none;
  margin-top: 25px;
}

.preview {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column; }
@media screen and (max-width: 996px) {
  .preview {
    margin-bottom: 20px; } }

.preview-pic {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1; }

.preview-thumbnail.nav-tabs {
  border: none;
  margin-top: 15px; }
.preview-thumbnail.nav-tabs li {
  width: 18%;
  margin-right: 2.5%; }
.preview-thumbnail.nav-tabs li img {
  max-width: 100%;
  display: block; }
.preview-thumbnail.nav-tabs li a {
  padding: 0;
  margin: 0; }
.preview-thumbnail.nav-tabs li:last-of-type {
  margin-right: 0; }

.tab-content {
  overflow: hidden; }
.tab-content img {
  width: 100%;
  -webkit-animation-name: opacity;
  animation-name: opacity;
  -webkit-animation-duration: .3s;
  animation-duration: .3s; }

.card {
  margin-top: 50px;
  background: #f6f6f6;
  padding: 3em;
  line-height: 1.5em;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 3.5rem;
  box-shadow: 0px 20px 27px -20px black;
  margin-bottom: 60px;

}

@media screen and (min-width: 997px) {
  .wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; } }

.details {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column; }

.colors {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1; }

.product-title, .price, .sizes, .colors {
  text-transform: UPPERCASE;
  font-weight: bold; }

.checked, .price span {
  color: #ff9f1a; }

.product-title, .rating, .product-description, .price, .vote, .sizes {
  margin-bottom: 15px; }

.product-title {
  margin-top: 0; }

.size {
  margin-right: 10px; }
.size:first-of-type {
  margin-left: 40px; }

.color {
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
  height: 2em;
  width: 2em;
  border-radius: 2px; }
.color:first-of-type {
  margin-left: 20px; }

.add-to-cart, .like {
  background: #ff9f1a;
  padding: 1.2em 1.5em;
  border: none;
  text-transform: UPPERCASE;
  font-weight: bold;
  color: #fff;
  -webkit-transition: background .3s ease;
  transition: background .3s ease; }
.add-to-cart:hover, .like:hover {
  background: #b36800;
  color: #fff; }

.not-available {
  text-align: center;
  line-height: 2em; }
.not-available:before {
  font-family: fontawesome;
  content: "\f00d";
  color: #fff; }

.orange {
  background: #ff9f1a; }

.green {
  background: #85ad00; }

.blue {
  background: #0076ad; }

.tooltip-inner {
  padding: 1.3em; }

@-webkit-keyframes opacity {
  0% {
    opacity: 0;
    -webkit-transform: scale(3);
    transform: scale(3); }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1); } }

@keyframes opacity {
  0% {
    opacity: 0;
    -webkit-transform: scale(3);
    transform: scale(3); }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1); } }

/*# sourceMappingURL=style.css.map */
/*=== Import Raleway fonts ===*/
//
//.discount-label {
//  padding: 8px;
//  position: relative;
//  float: left;
//  margin-top: 35px;
//  margin-left: 60px;
//  width: 50px;
//  -webkit-border-radius: 0 4px 0 4px;
//  -moz-border-radius: 0 4px 0 4px;
//  border-radius: 0 4px 4px 0;
//  &:after {
//    right: 100%;
//    border: solid transparent;
//    content: " ";
//    height: 0;
//    width: 0;
//    position: absolute;
//    border-color: rgba(136, 183, 213, 0);
//    border-width: 20px;
//    top: 50%;
//    margin-top: -20px;
//  }
//  &:before {
//    content: '';
//    z-index: 2;
//    position: absolute;
//    top: 42%;
//    right: 100%;
//    width: 7px;
//    height: 7px;
//    opacity: .95;
//    background: #ffffff;
//    border-radius: 7px;
//    -webkit-box-shadow: inset 0.5px 0 rgba(0, 0, 0, 0.6);
//    box-shadow: inset 0.5px 0 rgba(0, 0, 0, 0.6);
//  }
//  span {
//    color: #ffffff;
//    font-size: 20px;
//    text-align: center;
//    font-family: "Raleway",Helvetica;
//  }
//}
//
//.red {
//  background-color: #E80707;
//  &:after {
//    border-right-color: #E80707;
//  }
//}

[nz-carousel-content] {
  text-align: center;
  height: 100%;
  width: border-box;
  line-height: 372px;
  background: #364d79;
  color: #fff;
  overflow: hidden;
}


[nz-carousel] {
  height: 372px;
}

.ant-carousel .slick-slider .slick-list, .ant-carousel .slick-slider .slick-track {
  height: 372px;
}
